---
import Layout from "../layouts/Base_Main.astro";
import WorkCategory from "../components/WorkCategory.astro";
import "../styles/global.css";
---

<Layout title="XianShizukana's Works">
  <section
    class="flex h-screen w-screen flex-col items-center justify-center overflow-hidden bg-pink-400"
  >
    <WorkCategory
      title="Senior High School"
      link="/works_shs"
      image="work-shiro.png"
    />
    <WorkCategory
      title="College"
      link="/works_college"
      image="work-chime.jpeg"
    />
    <WorkCategory
      title="Personal"
      link="/works_personal"
      image="work-btw.png"
    />
    <WorkCategory title="Other" link="/works_other" image="work-rocket.jpg" />
  </section>
</Layout>
