---
import '../styles/global.css'
---

<div class="bg-[url(/public/hero-img.jpg)] min-h-screen h-full w-full flex lg:flex-row flex-col justify-center items-center">
    <div class="text-center bg-white w-full py-5">
        <h1 class="text-5xl lg:text-9xl text-pink-100">Xian Shizukana</h1>
        <p class="text-lg lg:text-4xl text-pink-300">Aspiring AI Developer / Cloud Engineer</p>
    </div>
</div>