---
import "../styles/global.css";
---

<header
  class="fixed z-999 w-full bg-pink-200/60 py-5 backdrop-blur-xl lg:px-40"
>
  <nav class="flex justify-center font-bold lg:justify-between">
    <a href="/"
      ><h1 class="hidden text-2xl text-pink-600 lg:flex">XianShizukana</h1></a
    >
    <ul class="flex space-x-16 text-2xl text-pink-600">
      <li class="lg:hidden"><a href="/">Home</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="#contacts">Contacts</a></li>
    </ul>
  </nav>
</header>
